# Ignore everything by default
*

# Don't ignore directories so Git can traverse submodules
!*/

# Whitelist submodules
!/nemu
!/abstract-machine
!/nanos-lite
!/navy-apps
!/am-kernels

# Keep important project files
!README.md
!.gitignore
!justfile

# Ignore generated environment files
.env/
